.App {
  text-align: center;
}

a  {
  background: linear-gradient(90deg, rgba(134,0,255,0.8141631652661064) 0%, rgba(113,9,121,0.7189250700280112) 42%, rgba(36,0,33,0.23713235294117652) 96%);
  margin: 15px;
  display: block;
  height: 30px;
  width: 120px;
  font-size: 20px;
  border: black 1px dotted;
}

button {
  margin: 0 auto;
  background-color: inherit;
  border: none;
}